.cache/
.config/
.git/
.local/
.ssh/
CanBoot/
candleLight_fw/
crowsnest/
kiauh/
klipper/
klipper_logs/
klippy-env/
mainsail/
mainsail-config/
moonraker/
moonraker-env/
moonraker-timelapse/
sonar/
.bash_history
.bash_logout
.bashrc
.gitconfig
.gitignore.save
.kiauh.ini
.profile
.python_history
.wget-hsts
.Xauthority
klippy.log.*
printer_data/logs/*
printer_data/backup/*
